*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./pages/Home/bg1.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}